/* GLOBAL */
a {
  text-decoration: none;
  color: rgb(104, 104, 104);
}

img {
  width: 350px;
  height: auto;
}

body {
  margin: 0;
  background-color: #22577a;
  font-family: Helvetica, sans-serif;
}

h1 {
  color: rgb(85, 85, 85);
}

h1 span {
  color: black;
  font-size: 50px
}

/* NAVBAR */

.navbar {
  background-color: #ededed;
  height: 65px;
  width: 100%;  
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.index a {
  margin-right: 40px;
}

.rrss a {
  margin-right: 20px;
}

.index {
  margin-left: 100px;
}

.header {
  position: relative;
  text-align: center;
  background: rgb(243, 243, 243);
}

/* HEADER */

.about {
  z-index: 2;
  display: flex;
  justify-content: space-evenly;
  padding-top: 40px;
}

.soft-skills {
  display: flex;
  flex-direction: column;
}

.soft-skill__first, .soft-skill__second {
  display: flex;
  justify-content: center;
}

.pills {
  background-color: #38a3a5;
  border-radius: 20px;
  margin: 6px 5px;
  padding: 4px 10px;
  width: fit-content;
  color: white;
}

.rol-pill {
  background-color: #57cc99;
  color: white;
  border-radius: 20px;
  width: fit-content;
  padding: 3px 10px;
  font-size: 20px;
  margin-left: 5px;
}

.about__presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;  
}

.about__description {
  margin-bottom: 0px;
}


.content {
  position: relative;
  height: 20vh;
  text-align: center;
}


/* Company */
.experience h2 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  margin-top: 100px;
  font-size: 45px;
}

.company__description p{
  background-color: #57cc99;
  color: white;
  border-radius: 180px;
  /* Comment below property to align center */
  width: fit-content; 
  text-align: center;
  padding: 5px 10px;
  
  font-size: 20px;
  
  margin-left: 5px;
  margin-top: 5px;
}

.company__description p:nth-child(2n+1) {
  background-color: #38a3a5;
}

.company__name {
  color: #c7f9cc;
  font-size: 30px;
}

.company {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Skills */
.skills h2 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  margin-top: 120px;
  font-size: 45px;
}

.skills__logos img{
  max-width: 120px;
  margin: 0px 5px;
}

.skills__logos {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Contact */
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.contact h2 {
  color: white;
  font-weight: lighter;
  margin-top: 100px;
  font-size: 45px;
}

.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  background-color: white;
  border-radius: 10px;
  border: none;
  height: 30px;
  margin: 10px 0px;
  box-sizing: border-box;
}

.form__textarea {
  height: 150px;
  max-width: 500px;
  border-radius: 10px;
}

.input:focus {
  outline: none;
}

.form__textarea {
  width: 80%;
}

.form__button {
  border-radius: 100px;
  border: none;
  width: 100%;
  max-width: 400px;
  height: 30px;
}

/* FOOTER */

footer {
  background-color: #ededed;
  margin-top: 50px;
  width: 100%;
  height: 100px;
}

.rrss {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.footer__name {
  color: rgb(104, 104, 104);
  text-align: center;
}

/* Waves */
.waves {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 150px;
}

/* Animation */
.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }

  .content {
    height: 30vh;
  }

  h1 {
    font-size: 24px;
  }
}