/* GLOBAL */
:root {
  --green-lighter: #38a3a5;
  --green-darker: #22577a;
  --green-main: #57cc99;
}

.anchor {
  text-decoration: none;
  color: rgb(104, 104, 104);
}

img {
  width: 350px;
  height: auto;
}

html {
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background-color: var(--green-darker);
  font-family: Helvetica, sans-serif;
}

h1 {
  color: rgb(85, 85, 85);
}

h1 span {
  color: black;
  font-size: 50px
}

textarea {
  resize: none;
}

/* SHARED */
.title__section {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-top: 100px;
  font-size: 45px;
}

/* NAVBAR */
.navbar {
  background-color: #ededed;
  height: 65px;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.index a {
  margin-right: 40px;
}

.rrss a {
  margin-right: 20px;
}

.index {
  margin-left: 100px;
}


/* HEADER */
.header {
  position: relative;
  text-align: center;
  background: rgb(243, 243, 243);
}

.about {
  z-index: 2;
  display: flex;
  justify-content: space-evenly;
  padding-top: 40px;
}

.soft-skills {
  display: flex;
  flex-direction: column;
}

.soft-skill__first,
.soft-skill__second {
  display: flex;
  justify-content: center;
}

.pills {
  background-color: var(--green-lighter);
  border-radius: 20px;
  margin: 6px 5px;
  padding: 4px 10px;
  width: fit-content;
  color: white;
}

.rol-pill {
  background-color: var(--green-main);
  color: white;
  border-radius: 20px;
  width: fit-content;
  padding: 3px 10px;
  font-size: 20px;
  margin-left: 5px;
}

.about__presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.about__description {
  margin-bottom: 0px;
}

.content {
  position: relative;
  height: 20vh;
  text-align: center;
}

/* COMPANY */
.company {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.company__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.company__description p {
  background-color: var(--green-main);
  color: white;
  border-radius: 180px;

  width: fit-content;
  text-align: center;
  padding: 5px 10px;

  font-size: 20px;

  margin-left: 5px;
  margin-top: 20px;
}

.company__description p:nth-child(2n+1) {
  background-color: var(--green-lighter);
}

.company__name {
  color: #c7f9cc;
  font-size: 30px;
  margin-top: 5px;
  padding: 0.5rem 4rem;
}

/* SKILLS */
.skills__logos img {
  max-width: 120px;
  margin: 0px 5px;
}

.skills__logos {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CONTACT */
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  background-color: white;
  border-radius: 10px;
  border: none;
  height: 30px;
  margin: 10px 0px;
  box-sizing: border-box;
}

.form__textarea {
  height: 150px;
  max-width: 500px;
  border-radius: 10px;
  width: 80%;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
}

.input:focus {
  outline: none;
}

.form__textarea::placeholder {
  padding-left: 10px;
}

.form__button {
  border-radius: 100px;
  border: none;
  width: auto;
  padding: 5px 25px;
  height: 30px;
  color: white;
  font-weight: 700;
  background-color: var(--green-main);
  cursor: pointer;
}

/* FOOTER */

footer {
  background-color: #ededed;
  margin-top: 50px;
  width: 100%;
  height: 100px;
}

.rrss {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.footer__name {
  color: rgb(104, 104, 104);
  text-align: center;
}

/* Waves */
.waves {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 150px;
}

/* Animation */
.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }

  .content {
    height: 30vh;
  }

  h1 {
    font-size: 24px;
  }
}